{% extends "base.html" %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/classify.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        {% if no_galaxy %}
            <p>Você já classificou todas as imagens disponíveis! </p><br>
            <center>Muito obrigado!</center>
        {% else %}
            <img src="{{ galaxy.image.url }}">

            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="galaxy_id" value="{{galaxy.id}}">
                <input type="submit" value="Submit">
            </form>
        {% endif %}
    </div>
{% endblock %}
